# Python
__pycache__/
*.py[cod]
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Dados locais / base de dados
dataset_tratado/
dados/
data/

# Resultados locais
resultados/

# Modelos gerados
*.pkl

# Sistema operacional
.DS_Store
Thumbs.db
